<div class="header-container">
  <h3>Date</h3>
  <input type="date" class="calendar-input" style="margin-left: 10px;">
  <div class="company-name-container" style="padding-left: 15%; padding-right: 15%;">
    <input type="text" class="company-name-input" placeholder="Company Name" [(ngModel)]="companyName">
  </div>
</div>
<div class="header-container" style="padding-left: 24%;">
  <div class="quotation-container" style="padding-left: 15%; padding-right: 15%;">
    <input type="text" class="quotation-input" placeholder="Quotation Number" [(ngModel)]="quotationNumber">
  </div>
  <div class="add-button-container">
    <button class="add-button" (click)="addItem()">Add Row</button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Item Number</th>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>MRP</th>
      <th>Discount</th>
      <th>Rate</th>
      <th>Value</th>
      <th>Remark</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.serialNumber }}</td>
      <td>
        <input list="itemNumbers" (input)="onItemSelect($event)">
        <datalist id="itemNumbers">
            <option *ngFor="let data of excelModel" [ngValue]="data">{{ data.itemNumber }}</option>
        </datalist>
        <!-- <input list="itemNumbers" type="text" [(ngModel)]="selectedOptions" (change)="fun(selectedOptions, item.serialNumber)" />
        <datalist id="itemNumbers">
          <option *ngFor="let data of excelModel" [ngValue]="data">{{ data.itemNumber }}</option>
        </datalist> -->
      </td>
      <!-- <td>
        <input list="itemNumbers" type="text" [(ngModel)]="selectedOption" [(ngModel)]="itemSerailNumber" (change)="fun(selectedOption, item.serialNumber)" />
        
        <datalist id="itemNumbers">
          <option *ngFor="let data of excelModel"  >{{ data.itemNumber }}</option>
        </datalist>
      </td> -->
      <!-- <td>
        <input list="itemNumbers" type="text" [(ngModel)]="data" (input)="handleInput($event)"/>
        <datalist id="itemNumbers">
          <option *ngFor="let data of excelModel" >{{ data.itemNumber }}</option>
        </datalist>
      </td> -->
      <td>
        <input list="itemNames" type="text" [(ngModel)]="item.itemName" />
        <datalist id="itemNames">
          <!-- Suggestions for item names -->
          <option *ngFor="let data of excelModel" >{{ data.itemName }}</option>
        </datalist>
      </td>
      <td><input type="number" [(ngModel)]="item.quantity" /></td>
      <td>{{ item.mrp }}</td>
      <td><input type="number" [(ngModel)]="item.discount" /></td>
      <td>{{ item.rate }}</td>
      <td>{{ item.value }}</td>
      <td>{{ item.remark }}</td>
      <td><button (click)="deleteItem(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
